In [151]:
import pandas as pd

#pandas 是基于NumPy 的一种工具，该工具是为解决数据分析任务而创建的。
#Pandas 纳入了大量库和一些标准的数据模型，提供了高效地操作大型数据集所需的工具。

In [152]:
### 0.2.1 DataFrame
#DataFrame是一个表格型的数据结构，它含有一组有序的列，每列可以是不同的值类型(数值、字符串、布尔值等)。
#DataFrame既有行索引也有列索引，它可以被看做由series组成的字典(共用同一个索引) 

## 读取文件
iris_data = pd.read_csv("../_Datasets/iris.data",sep=',')  #指定字段分隔符，默认逗号
iris_data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [153]:
##DataFrame的常用属性

# 查看数据集描述，例如数量、均值、方差、最大最小值、分位数
iris_data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [154]:
# 查看形状
iris_data.shape  #读入的数据集150行5列

(150, 5)

In [155]:
# 查看行索引
iris_data.index  # 行索引为0-150

RangeIndex(start=0, stop=150, step=1)

In [156]:
# 查看列索引(可理解为字段名)
iris_data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [157]:
# 查看值(可理解为numpy结构)
iris_data.values

array([[5.1, 3.5, 1.4, 0.2, 'setosa'],
       [4.9, 3.0, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.3, 0.2, 'setosa'],
       [4.6, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.6, 1.4, 0.2, 'setosa'],
       [5.4, 3.9, 1.7, 0.4, 'setosa'],
       [4.6, 3.4, 1.4, 0.3, 'setosa'],
       [5.0, 3.4, 1.5, 0.2, 'setosa'],
       [4.4, 2.9, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [5.4, 3.7, 1.5, 0.2, 'setosa'],
       [4.8, 3.4, 1.6, 0.2, 'setosa'],
       [4.8, 3.0, 1.4, 0.1, 'setosa'],
       [4.3, 3.0, 1.1, 0.1, 'setosa'],
       [5.8, 4.0, 1.2, 0.2, 'setosa'],
       [5.7, 4.4, 1.5, 0.4, 'setosa'],
       [5.4, 3.9, 1.3, 0.4, 'setosa'],
       [5.1, 3.5, 1.4, 0.3, 'setosa'],
       [5.7, 3.8, 1.7, 0.3, 'setosa'],
       [5.1, 3.8, 1.5, 0.3, 'setosa'],
       [5.4, 3.4, 1.7, 0.2, 'setosa'],
       [5.1, 3.7, 1.5, 0.4, 'setosa'],
       [4.6, 3.6, 1.0, 0.2, 'setosa'],
       [5.1, 3.3, 1.7, 0.5, 'setosa'],
       [4.8, 3.4, 1.9, 0.2, 'setosa'],
       [5.0, 3.0, 1.6, 0.2, 'setosa'],
       [5.0, 3.4, 1.6, 0.4, 'setosa'],
       [5.2, 3.5, 1.5, 0.2, 'setosa'],
       [5.2, 3.4, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.6, 0.2, 'setosa'],
       [4.8, 3.1, 1.6, 0.2, 'setosa'],
       [5.4, 3.4, 1.5, 0.4, 'setosa'],
       [5.2, 4.1, 1.5, 0.1, 'setosa'],
       [5.5, 4.2, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [5.0, 3.2, 1.2, 0.2, 'setosa'],
       [5.5, 3.5, 1.3, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [4.4, 3.0, 1.3, 0.2, 'setosa'],
       [5.1, 3.4, 1.5, 0.2, 'setosa'],
       [5.0, 3.5, 1.3, 0.3, 'setosa'],
       [4.5, 2.3, 1.3, 0.3, 'setosa'],
       [4.4, 3.2, 1.3, 0.2, 'setosa'],
       [5.0, 3.5, 1.6, 0.6, 'setosa'],
       [5.1, 3.8, 1.9, 0.4, 'setosa'],
       [4.8, 3.0, 1.4, 0.3, 'setosa'],
       [5.1, 3.8, 1.6, 0.2, 'setosa'],
       [4.6, 3.2, 1.4, 0.2, 'setosa'],
       [5.3, 3.7, 1.5, 0.2, 'setosa'],
       [5.0, 3.3, 1.4, 0.2, 'setosa'],
       [7.0, 3.2, 4.7, 1.4, 'versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [7.1, 3.0, 5.9, 2.1, 'virginica'],
       [6.3, 2.9, 5.6, 1.8, 'virginica'],
       [6.5, 3.0, 5.8, 2.2, 'virginica'],
       [7.6, 3.0, 6.6, 2.1, 'virginica'],
       [4.9, 2.5, 4.5, 1.7, 'virginica'],
       [7.3, 2.9, 6.3, 1.8, 'virginica'],
       [6.7, 2.5, 5.8, 1.8, 'virginica'],
       [7.2, 3.6, 6.1, 2.5, 'virginica'],
       [6.5, 3.2, 5.1, 2.0, 'virginica'],
       [6.4, 2.7, 5.3, 1.9, 'virginica'],
       [6.8, 3.0, 5.5, 2.1, 'virginica'],
       [5.7, 2.5, 5.0, 2.0, 'virginica'],
       [5.8, 2.8, 5.1, 2.4, 'virginica'],
       [6.4, 3.2, 5.3, 2.3, 'virginica'],
       [6.5, 3.0, 5.5, 1.8, 'virginica'],
       [7.7, 3.8, 6.7, 2.2, 'virginica'],
       [7.7, 2.6, 6.9, 2.3, 'virginica'],
       [6.0, 2.2, 5.0, 1.5, 'virginica'],
       [6.9, 3.2, 5.7, 2.3, 'virginica'],
       [5.6, 2.8, 4.9, 2.0, 'virginica'],
       [7.7, 2.8, 6.7, 2.0, 'virginica'],
       [6.3, 2.7, 4.9, 1.8, 'virginica'],
       [6.7, 3.3, 5.7, 2.1, 'virginica'],
       [7.2, 3.2, 6.0, 1.8, 'virginica'],
       [6.2, 2.8, 4.8, 1.8, 'virginica'],
       [6.1, 3.0, 4.9, 1.8, 'virginica'],
       [6.4, 2.8, 5.6, 2.1, 'virginica'],
       [7.2, 3.0, 5.8, 1.6, 'virginica'],
       [7.4, 2.8, 6.1, 1.9, 'virginica'],
       [7.9, 3.8, 6.4, 2.0, 'virginica'],
       [6.4, 2.8, 5.6, 2.2, 'virginica'],
       [6.3, 2.8, 5.1, 1.5, 'virginica'],
       [6.1, 2.6, 5.6, 1.4, 'virginica'],
       [7.7, 3.0, 6.1, 2.3, 'virginica'],
       [6.3, 3.4, 5.6, 2.4, 'virginica'],
       [6.4, 3.1, 5.5, 1.8, 'virginica'],
       [6.0, 3.0, 4.8, 1.8, 'virginica'],
       [6.9, 3.1, 5.4, 2.1, 'virginica'],
       [6.7, 3.1, 5.6, 2.4, 'virginica'],
       [6.9, 3.1, 5.1, 2.3, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [6.8, 3.2, 5.9, 2.3, 'virginica'],
       [6.7, 3.3, 5.7, 2.5, 'virginica'],
       [6.7, 3.0, 5.2, 2.3, 'virginica'],
       [6.3, 2.5, 5.0, 1.9, 'virginica'],
       [6.5, 3.0, 5.2, 2.0, 'virginica'],
       [6.2, 3.4, 5.4, 2.3, 'virginica'],
       [5.9, 3.0, 5.1, 1.8, 'virginica']], dtype=object)

In [158]:
# 查看前几行
iris_data.head()  #可指定行数

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [159]:
#查看后几行
iris_data.tail() #可指定行数

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [160]:
## 索引操作

# 直接使用行列索引（先列后行）
iris_data["species"][149]  #取行索引为149，列索引为species的数据

'virginica'

In [161]:
# loc使用索引
iris_data.loc[149]["species"]  #取行索引为149，列索引为species的数据

'virginica'

In [162]:
# loc使用索引
iris_data.loc[149,"species"]  #取行索引为149，列索引为species的数据

'virginica'

In [163]:
# iloc使用索引（与numpy用法类似）
iris_data.iloc[149,4] #取行数字索引为149，列数字索引为4的数据

'virginica'

In [164]:
# 小结
#以上几种取索引的方法均可，建议使用第一种，方便简洁。

In [165]:
## Series
# Series： 类似于一维数组或列表，是由一组数据以及与之相关的数据标签（索引）构成。
#Series 可以看作是 DataFrame 中的一列，也可以是单独存在的一维数据结构。

ser1 = iris_data["species"]
print(ser1,'\n')  #Serises
print(type(ser1)) # 查看ser1类型

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

<class 'pandas.core.series.Series'>

In [166]:
# Series索引 （Series只有行索引）
ser1[140:]

140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, dtype: object

In [167]:
# Series转DataFrame
df1 = pd.DataFrame(ser1)
print(df1.head(),'\n')
print(type(df1))  # 查看df1类型

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

<class 'pandas.core.frame.DataFrame'>

In [168]:
### 0.2.1 concat拼接dataframe 

##按列concat

#首先按列拆分DataFrame为多个DafaFrame，再合并
#例如拆分前几列为训练集,选多个列时要用二维数组表示。
train_data = iris_data[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
train_data.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [169]:
# 最后一列拆分成标签。
# 注意iris_data["species"]返回的是Series，iris_data[["species"]]返回的是DataFrame。
train_label = iris_data[["species"]]
train_label.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [170]:
type(train_label)

pandas.core.frame.DataFrame

In [171]:
# 按列合并特征数据和标签
# axis：默认是0代表按行合并，如果等于1代表按列合并
iris_data1 = pd.concat([train_data,train_label],axis=1) 
iris_data1

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [172]:
## 按行concat

# 按行拆分数据集 - 前70行拆分为df1，70行之后拆分成df2
df1 = iris_data.iloc[:70,]
df1

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          3.5           1.4          0.2      setosa
1            4.9          3.0           1.4          0.2      setosa
2            4.7          3.2           1.3          0.2      setosa
3            4.6          3.1           1.5          0.2      setosa
4            5.0          3.6           1.4          0.2      setosa
..           ...          ...           ...          ...         ...
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor

[70 rows x 5 columns]

In [173]:
df2 = iris_data.iloc[70:,]
df2

     sepal_length  sepal_width  petal_length  petal_width     species
70            5.9          3.2           4.8          1.8  versicolor
71            6.1          2.8           4.0          1.3  versicolor
72            6.3          2.5           4.9          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[80 rows x 5 columns]

In [174]:
#axis：默认是0代表按行合并，如果等于1代表按列合并
iris_data2 = pd.concat([df1,df2],axis=0)
iris_data2

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [175]:
# reset index
# 看看按列concat df1和df2会怎样
df3 = pd.concat([df1,df2],axis=1)
df3

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,setosa,NaN,NaN,NaN,NaN,NaN
1,4.9,3.0,1.4,0.2,setosa,NaN,NaN,NaN,NaN,NaN
2,4.7,3.2,1.3,0.2,setosa,NaN,NaN,NaN,NaN,NaN
3,4.6,3.1,1.5,0.2,setosa,NaN,NaN,NaN,NaN,NaN
4,5.0,3.6,1.4,0.2,setosa,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
145,NaN,NaN,NaN,NaN,NaN,6.7,3.0,5.2,2.3,virginica
146,NaN,NaN,NaN,NaN,NaN,6.3,2.5,5.0,1.9,virginica
147,NaN,NaN,NaN,NaN,NaN,6.5,3.0,5.2,2.0,virginica
148,NaN,NaN,NaN,NaN,NaN,6.2,3.4,5.4,2.3,virginica
149,NaN,NaN,NaN,NaN,NaN,5.9,3.0,5.1,1.8,virginica

In [176]:
# 按行concat是根据index拼接的。df1的index是0-70，df2的index是80-149
# 以上操作相当于sql里边的外连接。如果想df1与df2按数据对齐合并，需要重置df2的index

df2_ = df2.reset_index(drop=True)
df2_ #此时df2_的索引被重置成了0-80

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.9          3.2           4.8          1.8  versicolor
1            6.1          2.8           4.0          1.3  versicolor
2            6.3          2.5           4.9          1.5  versicolor
3            6.1          2.8           4.7          1.2  versicolor
4            6.4          2.9           4.3          1.3  versicolor
..           ...          ...           ...          ...         ...
75           6.7          3.0           5.2          2.3   virginica
76           6.3          2.5           5.0          1.9   virginica
77           6.5          3.0           5.2          2.0   virginica
78           6.2          3.4           5.4          2.3   virginica
79           5.9          3.0           5.1          1.8   virginica

[80 rows x 5 columns]

In [177]:
#再拼接df1和df2_
df3_ = pd.concat([df1,df2_],axis=1)
df3_   #此时前70行对其了，后10行因为df1没有数据，因此显示NAN。

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,setosa,5.9,3.2,4.8,1.8,versicolor
1,4.9,3.0,1.4,0.2,setosa,6.1,2.8,4.0,1.3,versicolor
2,4.7,3.2,1.3,0.2,setosa,6.3,2.5,4.9,1.5,versicolor
3,4.6,3.1,1.5,0.2,setosa,6.1,2.8,4.7,1.2,versicolor
4,5.0,3.6,1.4,0.2,setosa,6.4,2.9,4.3,1.3,versicolor
...,...,...,...,...,...,...,...,...,...,...
75,NaN,NaN,NaN,NaN,NaN,6.7,3.0,5.2,2.3,virginica
76,NaN,NaN,NaN,NaN,NaN,6.3,2.5,5.0,1.9,virginica
77,NaN,NaN,NaN,NaN,NaN,6.5,3.0,5.2,2.0,virginica
78,NaN,NaN,NaN,NaN,NaN,6.2,3.4,5.4,2.3,virginica
79,NaN,NaN,NaN,NaN,NaN,5.9,3.0,5.1,1.8,virginica

In [185]:
#如果我们想要df1和df2共同的index数据，我们可以指定join方式，类似sql里的内连接、左链接和右链接。
df4 = pd.concat([df1,df2_],join='inner',axis=1)
df4  #此时只保留了都有的index数据,与df3_对比

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,setosa,5.9,3.2,4.8,1.8,versicolor
1,4.9,3.0,1.4,0.2,setosa,6.1,2.8,4.0,1.3,versicolor
2,4.7,3.2,1.3,0.2,setosa,6.3,2.5,4.9,1.5,versicolor
3,4.6,3.1,1.5,0.2,setosa,6.1,2.8,4.7,1.2,versicolor
4,5.0,3.6,1.4,0.2,setosa,6.4,2.9,4.3,1.3,versicolor
...,...,...,...,...,...,...,...,...,...,...
65,6.7,3.1,4.4,1.4,versicolor,7.7,3.0,6.1,2.3,virginica
66,5.6,3.0,4.5,1.5,versicolor,6.3,3.4,5.6,2.4,virginica
67,5.8,2.7,4.1,1.0,versicolor,6.4,3.1,5.5,1.8,virginica
68,6.2,2.2,4.5,1.5,versicolor,6.0,3.0,4.8,1.8,virginica
69,5.6,2.5,3.9,1.1,versicolor,6.9,3.1,5.4,2.1,virginica

In [179]:
### 0.2.3 merge拼接dataframe

# 以上可知，concat方法可根据index join 2个DataFrame,如果我们想按照某个列join则无法实现。

#merge，通过merge实现sql里的join操作。on表示连接字段。
df6 = pd.merge(df1,df2,on=['sepal_length','sepal_width'],how='inner')
df6

,sepal_length,sepal_width,petal_length_x,petal_width_x,species_x,petal_length_y,petal_width_y,species_y
0,6.4,3.2,4.5,1.5,versicolor,5.3,2.3,virginica
1,6.9,3.1,4.9,1.5,versicolor,5.4,2.1,virginica
2,6.9,3.1,4.9,1.5,versicolor,5.1,2.3,virginica
3,5.7,2.8,4.5,1.3,versicolor,4.1,1.3,versicolor
4,6.3,3.3,4.7,1.6,versicolor,6.0,2.5,virginica
5,5.9,3.0,4.2,1.5,versicolor,5.1,1.8,virginica
6,6.0,2.2,4.0,1.0,versicolor,5.0,1.5,virginica
7,6.7,3.1,4.4,1.4,versicolor,4.7,1.5,versicolor
8,6.7,3.1,4.4,1.4,versicolor,5.6,2.4,virginica
9,5.6,3.0,4.5,1.5,versicolor,4.1,1.3,versicolor
10,5.8,2.7,4.1,1.0,versicolor,3.9,1.2,versicolor
11,5.8,2.7,4.1,1.0,versicolor,5.1,1.9,virginica
12,5.8,2.7,4.1,1.0,versicolor,5.1,1.9,virginica

In [180]:
### 0.2.4 join拼接dataframe
# 除concat join和merge外，join方法也可以实现sql里的表连接，主要按index join.
df7 = df1.join(df2_,how='inner',lsuffix='_left',rsuffix='_right',on='sepal_length')
df7  #join字段重名冲突，需要手动设置，而merge会自动重命名。并且多字段join会有奇奇怪怪的错误需要处理。

C:\Users\yuanshuai\AppData\Local\Temp\ipykernel_5792\241313002.py:2: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  df7 = df1.join(df2_,how='inner',lsuffix='_left',rsuffix='_right',on='sepal_length')

,sepal_length,sepal_length_left,sepal_width_left,petal_length_left,petal_width_left,species_left,sepal_length_right,sepal_width_right,petal_length_right,petal_width_right,species_right
4,5.0,5.0,3.6,1.4,0.2,setosa,6.6,3.0,4.4,1.4,versicolor
7,5.0,5.0,3.4,1.5,0.2,setosa,6.6,3.0,4.4,1.4,versicolor
25,5.0,5.0,3.0,1.6,0.2,setosa,6.6,3.0,4.4,1.4,versicolor
26,5.0,5.0,3.4,1.6,0.4,setosa,6.6,3.0,4.4,1.4,versicolor
35,5.0,5.0,3.2,1.2,0.2,setosa,6.6,3.0,4.4,1.4,versicolor
40,5.0,5.0,3.5,1.3,0.3,setosa,6.6,3.0,4.4,1.4,versicolor
43,5.0,5.0,3.5,1.6,0.6,setosa,6.6,3.0,4.4,1.4,versicolor
49,5.0,5.0,3.3,1.4,0.2,setosa,6.6,3.0,4.4,1.4,versicolor
60,5.0,5.0,2.0,3.5,1.0,versicolor,6.6,3.0,4.4,1.4,versicolor
50,7.0,7.0,3.2,4.7,1.4,versicolor,6.7,3.0,5.0,1.7,versicolor
62,6.0,6.0,2.2,4.0,1.0,versicolor,6.8,2.8,4.8,1.4,versicolor

In [181]:
### 0.2.5 排序
# 按 sepal_length进行排序
iris_data3 = iris_data.sort_values(by="sepal_length", ascending=True)
iris_data3

     sepal_length  sepal_width  petal_length  petal_width    species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]

In [182]:
### 0.2.6 删除某列
df8 = iris_data3.drop(["petal_length","petal_width"],axis=1)
df8

     sepal_length  sepal_width    species
13            4.3          3.0     setosa
42            4.4          3.2     setosa
38            4.4          3.0     setosa
8             4.4          2.9     setosa
41            4.5          2.3     setosa
..            ...          ...        ...
122           7.7          2.8  virginica
118           7.7          2.6  virginica
117           7.7          3.8  virginica
135           7.7          3.0  virginica
131           7.9          3.8  virginica

[150 rows x 3 columns]

In [183]:
### 0.2.7 算术运算 & 增加列
# 例如计算sepal_length和sepal_width差值，构建新特征列sepal_div
df8["sepal_div"] = df8["sepal_length"] - df8["sepal_width"] 
df8

     sepal_length  sepal_width    species  sepal_div
13            4.3          3.0     setosa        1.3
42            4.4          3.2     setosa        1.2
38            4.4          3.0     setosa        1.4
8             4.4          2.9     setosa        1.5
41            4.5          2.3     setosa        2.2
..            ...          ...        ...        ...
122           7.7          2.8  virginica        4.9
118           7.7          2.6  virginica        5.1
117           7.7          3.8  virginica        3.9
135           7.7          3.0  virginica        4.7
131           7.9          3.8  virginica        4.1

[150 rows x 4 columns]

In [184]:
### 小结

#merge方法主要是通过key将frame合并，这个key可以是DataFrame中的列（columns）也可以是索引（index）。
#而join方法主要是通过index进行合并（也支持列名，但用起来比较繁琐），它默认使用index-on-index的方式进行合并。
#同理，concat的join也只支持index合并。

# 推荐使用merge。

In [ ]:
### 参考文档
# https://pandas.pydata.org/docs/user_guide/index.html